# Virtual Environment
venv/
env/
.env

# Python cache
__pycache__/
*.pyc

# IDE settings
.vscode/
.idea/

# Dataset & Models (Optional: if you want to keep repo clean)
data/
models/*.h5
models/*.keras

# Logs
*.log